@keyframes anuragAnimateHero {
    80% {
        color: rgb(12, 209, 12);
        text-shadow: 5px -1px red;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes blink {
    to {
        border-right: 5px solid #f40202;
    }
}

@keyframes textAnimate {
    to {
        font-size: 1.89em;
        text-shadow: 1px 2px rgba(75, 202, 20, 0.5);
    }
}